import os
from CRABClient.UserUtilities import config
config = config()

request_name = "{{ request_name }}"
config.General.requestName = request_name
config.General.workArea = 'crab'
config.General.transferOutputs = True
config.General.transferLogs = True


config.JobType.pluginName = 'Analysis'
config.JobType.psetName = 'config_2022_cfg.py'
config.JobType.allowUndistributedCMSSW = True

####FOR FILELIST #######
#use inputFilelist
# config.Data.userInputFiles = open('__SKIM_FILE__').readlines()
# config.Data.splitting = 'FileBased'
# config.Data.unitsPerJob = 1
#####################

# Collision ceritification for 2022 data
# "https://cms-service-dqmdc.web.cern.ch/CAF/certification/Collisions22/Cert_Collisions2022_355100_362760_Golden.json"
#"https://cms-service-dqmdc.web.cern.ch/CAF/certification/Collisions22/Cert_Collisions2022_355100_362760_Golden.json"
#'https://cms-service-dqmdc.web.cern.ch/CAF/certification/Collisions23/Cert_Collisions2023_366442_370790_Golden.json'
###FOR MINIAOD ######
config.Data.inputDataset = "{{ input_dataset }}"

if "2022" in request_name:
    config.Data.lumiMask = "https://cms-service-dqmdc.web.cern.ch/CAF/certification/Collisions22/Cert_Collisions2022_355100_362760_Golden.json"
elif "2023" in request_name:
    config.Data.lumiMask = "https://cms-service-dqmdc.web.cern.ch/CAF/certification/Collisions23/Cert_Collisions2023_366442_370790_Golden.json"

config.Data.inputDBS = 'global'
config.Data.splitting = 'LumiBased'
config.Data.unitsPerJob = {{ units_per_job | default(20)  }}



config.JobType.maxMemoryMB = {{ max_memory | default(3500)  }}
config.JobType.numCores = 1


config.Data.publication = False
config.Data.outputDatasetTag = request_name


# Uncomment one of the following pairs


config.Data.outLFNDirBase = '/store/group/lpclonglived/DisappTrks/'
config.Site.storageSite = 'T3_US_FNALLPC'


#config.Data.outLFNDirBase = '/store/user/%s/' % (user_name)
#config.Site.storageSite = 'T2_US_Purdue'


#config.Data.outLFNDirBase = '/store/group/phys_exotica/disappearingTracks/'
#config.Site.storageSite = 'T2_CH_CERN'


# config.Data.outLFNDirBase = '/store/user/borzari/'
# config.Site.storageSite = 'T2_BR_SPRACE'