from DisappTrks.StandardAnalysis.protoConfig_cfg import *

{% for channel, hist_set, weight, sfp, cmap, producer, ignore_skimmed, force_non_empty in zipped %}
add_channels(
        process,
        ["{{ channel }}"],
        {{ hist_set }},
        {{ weight }},
        {{ sfp }},
        {{ cmap }},
        {{ producer }},
        ignoreSkimmedCollections={{ ignore_skimmed | lower }},
        forceNonEmptySkim={{ force_non_empty_skim | lower }}
)
{% endfor %}

if hasattr(process, 'EventJetVarProducer'):
    process.EventJetVarProducer.triggerNames = triggerNamesInclusive
else:
    print()
    print('You haven\'t added any channels. There\'s nothing to do!')
    print()
    sys.exit(0)